<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= link_to 'Connect to Github', '/auth/github', class: "btn btn-outline mb1 teal" %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
    <li> Status: <%= current_user.activation_status.capitalize%> </li>
  </ul>
  <section class='bookmarks'>
    <h1>Bookmarked Segments</h1>
    <% if @bookmarks_collection.empty? %>
      <p>You haven't added any bookmarks yet.
    <% else %>
      <% @bookmarks_collection.each do |tutorial| %>
        <h3 id="tutorial-<%= tutorial[1][0].tutorial_id %>"><%= tutorial[0] %></h3>
        <% tutorial[1].each do |video| %>
          <div id="video-<%= video.video_id %>">
            <%= link_to "#{video.video_title}", "/tutorials/#{video.tutorial_id}?video_id=#{video.video_id}", class: "video-link" %><br>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </section>
  <% if github_token_present? %>
    <section class="github">
      <h1>Github</h1>

      <section class="repos">
        <h3>Repositories</h3>
        <% if @repos.empty? %>
          <p>You haven't added any repos yet.</p>
        <% else %>
          <% @repos.each_with_index do |repo, index| %>
            <div class="repo">
              <%= link_to repo.name, repo.url, id:"#repo-#{index}" %><br>
            </div>
          <% end %>
        <% end %>
      </section>


      <section class='followers'>
        <h3>Followers</h3>
        <% if @followers.empty? %>
          <p>No followers yet.</p>
        <% else %>
          <% @followers.each_with_index do |follower, index| %>
            <div class='follower'>
              <%= link_to follower.name, follower.url, id:"#follower-#{index}" %> |
              <%= link_to 'Add as Friend' if account_with_uid?(follower.github_uid)%><br>
            </div>
          <% end %>
        <% end %>
      </section>

      <section class="following">
        <h3>Following</h3>
        <% if @followees.empty? %>
          <p>You haven't started following anyone yet.</p>
        <% else %>
          <% @followees.each_with_index do |followee, index| %>
            <div class='followee'>
              <%= link_to followee.name, followee.url, id:"#followee-#{index}" %> |
              <%= link_to 'Add as Friend' if account_with_uid?(followee.github_uid)%><br>
            </div>
          <% end %>
        <% end %>
      </section>

    </section>
  <% end %>
</section>
